* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title {
    color: #A335EE;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    align-items: center;
    background-color: transparent;

}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
}

/* My Learning Popup */
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    padding: 20px;
    top: 150% ;
    right: 0px;
    display: none;
}
.mylearning:hover .mylearning__popup{
    display: block;
}

.categories {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: solid black 1px;
}

.categories p {
    background-color: #A335EE;
    color: white; 
    border: black 2px;
    border-radius: 30px;
    padding: 10px;

}

.sale-image img {
    width: 100%;
    position: relative;
}

.sale-image__offer {
    position: absolute ;
    background-color: white;
    width: 30%;    
    border: black solid 2px;
    padding: 2%;
    top: 30%;
    left: 10%;

}

.recommended {
    padding: 10px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

.course-card {
    width: 250px;

}

.course-card img {
    width: 100%;
    height: 50%;
}

.topic {
    padding: 10px;
}

.topic__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topic__container p {
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;
}

.popular__container {
    flex-grow: 1;
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;

}

.footer {
    background-color: black;
    color: white;
    padding: 20px;

}

.footer__one {
    display: flex;
    gap: 20px;
}

.footer__two {
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footer__one p {
    margin: 20px;
}
